{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>

  <style>
  body {
    font-family: 'Ubuntu', sans-serif;
  }
  .errorlist {
    list-style: none;
    color: red;
}
  </style>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-map-marker"></span> TravelOne</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'check'%}">Home</a></li>
      <li><a href="{% url 'makeGroup' %}">Make a Group</a></li>
      <li><a href ="{% url 'JoinGroup' %}">Join to your Group</a></li>
      <li><a href="{% url 'bankConnect' %}">Bank Summary</a></li>
      <li class="active"><a href="{% url 'GroupView' %}">Groups</a></li>
    </ul>
  </div>
</nav>
<body>
<body background="http://www.matcl.com/files/attach/images/2791205/936/827/002/3242cecd541aec083cd45b249cc49ea7.png">
<div class="container" align ='left' style = "margin-left: 250px;margin-top: 80px" font-family: 'Delius Unicase', cursive; >
  <br><br><br>
  <h3>Group Title : {{title}}</h3>
  
  <h1>{% bootstrap_icon "star-empty" %}Owner: {{owner}}</h2>
  <br>
  <p>Invitation Code: {{gid}}</p>


<div class="containers" align ='right' style = "list-style-type:square;margin-top: -150px;margin-right: 300px;font-size: 15px" font-family: 'Delius Unicase', cursive;>
  <h2>Invitees:</h2>
  {% for n in names %}
  <option>{{n}}</option>
  {% endfor %}
</div>

    <div class="confirm">
      <h2>Location: {{location}}</h2>
      <h2>Hotel: {{hotel}}</h2>
      <h2>Price: ${{price}}/person</h2>

    </div>

</body>
</html>