{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% block content %}





<!DOCTYPE html>
<html lang="en">
<style>
div.login-form {
    margin-top: 200px
} 
.error input, .error select {
    border: 2px red solid;
}

</style>
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>
  <style>
  body {
    font-family: 'Ubuntu', sans-serif;
  }
  .errorlist {
    list-style: none;
    color: red;
}
  </style>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href=""><span class="glyphicon glyphicon-map-marker"></span> TravelOne</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'check'%}">Home</a></li>
      <li class="active"><a href="{% url 'makeGroup' %}">Make a Group</a></li>
      <li><a href="{% url 'JoinGroup' %}">Join to your Group</a></li>
      <li><a href="{% url 'bankConnect' %}">Bank Summary</a></li>
      <li><a href="{% url 'GroupView' %}">Groups</a></li>
    </ul>
  </div>
</nav>
  {% if form.errors %}
  <span style= "color:red"><p>Please check your inputs</p></span>
   {% else %}
   {% endif %}
  <div class="group-form" align="center">
  <body background="http://www.matcl.com/files/attach/images/2791205/082/807/002/5be5e7d147f7457645d1dc5133b83f72.jpg"
  <br><br><br><br><br><br><br><br><br>
     <h1><center>Form your Group {% bootstrap_icon "plus" %}</center></h1>
     <br><br>
      <form action="{% url 'makeGroup' %}" method="post" class="form">
        
        {% csrf_token %}
        {{ form.as_p }}
      <button type="submit" value="Submit">Submit</button>
      </form>


  </div>
{% endblock %}

</body>
</html>