{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TravelOne</a>  
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="{% url 'makeGroup' %}">Make a Group</a></li>
      <li class="active"><a href ="{% url 'JoinGroup' %}">Join to your Group</a></li>
      <li><a href="#">Connect to your Bank</a></li>
      <li ><a href="{% url 'GroupView' %}">Groups</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">

{% block content %}
 <h1>Reset PassWord</h1>
  <div class="login-form">
      <form action="{% url 'JoinGroup' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Join"></p>
      </form>
  </div>
{% endblock %}

</div>
	
</body>
</html>
