<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>
  <style>
  body {
    font-family: 'Ubuntu', sans-serif;
  }
  .errorlist {
    list-style: none;
    color: red;
}
  </style>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-map-marker"></span> TravelOne</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'check'%}">Home</a></li>
      <li><a href="{% url 'makeGroup' %}">Make a Group</a></li>
      <li><a href="{% url 'JoinGroup' %}">Join to your Group</a></li>
      <li><a href="{% url 'bankConnect' %}">Bank Summary</a></li>
      <li><a href="{% url 'GroupView' %}">Groups</a></li>
    </ul>
  </div>
</nav>

  
<div class="container">
<body background="http://cfile2.uf.tistory.com/image/18214C4850ADABCE283E6B">
<br><br><br><br><br><br><br><br><br><br>
  <h1><center><span style= "color:black">Good Day </span> {{myName}}!</center></h1>
  <br><br><br>
  <p><center>Invite your friends?</center></p>
  <p><center>Make your own Group?</center></p>
  <p><center>Things to do with your Bank?</center></p>
</div>
  
</body>
</html>