{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<style>
div.login_form {
    margin-top: 200px
} 
.errorlist {
    list-style: none;
    color: red;
}
</style>
{% block content %}

 
 <p></p>

<center><body background="http://cfile29.uf.tistory.com/image/1557604C50ADABD31D7799"></center>

	<div class="login_form" align="center">
		 <h2><center>TravelOne {% bootstrap_icon "globe" %}</center></h2>
		 {% if form.errors %}
 		<p><center><span style= "color:red">Please check your password or username.</span></center></p>
 		{% else %}
 		<p></p>
 		{% endif %}
		 <br><br><br>
			<form action="{% url 'login' %}" method="post" class="form">
				
				{% csrf_token %}
				{{ form.as_p }}
				</br>
				<input type="hidden" name="next" value="{{ next }}" />
			
				<button type="submit" value="Log-in">{% bootstrap_icon "off" %} Log-In</button>



				</br></br>
				<p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>
				<p><a href="{% url "register" %}">Register here!</a></p>
			</form>
	</div>
{% endblock %}