{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<style>
div.jay_way {
    margin-top: 200px
} 
.errorlist {
    list-style: none;
    color: red;
}
</style>
{% block content %}
<center><body background="http://cfile29.uf.tistory.com/image/1627D54D50AB0E0D294E79"></center>

{% if form.errors %}
<p><center><span style= "color:red">Please check your input.</span></center></p>
{% else %}
{% endif %}
	<div class = "jay_way" align = "center">

		 <h2><center>Registeration{% bootstrap_icon "user" %}<center></h2>
		 <br><br><br>
 			<form action ="." method = "post">
 				{{form.as_p}}
 				{% csrf_token %}
 				<p><input type="submit" value="Done"></p>
 			</form>
{% endblock %}